@media (max-width: 1279px) {
  .greeting {
    width: 100vw;
    &__content {
      width: 548px;
      top: 6vw;
      left: 16vw;
    }
  }
}

@media (max-width: 767px) {
  .greeting .greeting__swiper .swiper-slide img {
    position: relative;
    height: 600px;
    object-fit: inherit;
  }
  .greeting {
    width: 100vw;
    text-align: center;

    &__content {
      position: absolute;
      width: 80%;
      text-align: center;
      top: 158px;
      left: 40px;
    }

    &__title {
      text-align: center;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 16px;
      font-weight: 700;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 350px) {
  .greeting {
    &__content {
      display: block;
      width: 343px;
      height: 284px;
      position: absolute;
      z-index: 1;
      left: 0vw;
      color: white;
    }

    &__title {
      line-height: 48px;
      font-size: 30px;
      font-weight: 700;
    }

    &__text {
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
