@media (max-width: 1279px) {
  .products-swiper.swiper {
    margin: 0;
    padding: 0 0 0 5vw;
    width: 100vw;
  }
  .custom-swiper-prev,
  .custom-swiper-next {
    display: none;
  }

  .product-slider__title {
    text-align: left;
    padding-left: 37vw;
  }
}

.custom-swiper-prev,
.custom-swiper-next {
  display: none;
}

@media (max-width: 767px) {
  .products-swiper.swiper {
    padding-left: 16px;
  }
  .product-slider {
    &__title {
      padding-left: 8vw;
    }
  }
}
