@media (max-width: 1279px) {
  .faq {
    width: 100vw;
    height: auto;
    padding: 10vw 10vw;

    &__item {
      width: 80vw;
      height: auto;
    }

    &__header {
      h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: #737373;
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 767px) {
  .faq {
    width: 100vw;
    padding: 60px 0;

    &__container {
      width: 85%;
    }

    &__header {
      width: 343px;
      margin: 0 2vw;

      h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: #737373;
        margin-bottom: 32px;
      }
    }

    &__item {
      width: 100%;
      padding: 20px;
    }

    &__question {
      align-items: center;
      font-size: 16px;
      margin-bottom: 12px;
    }

    &__answer {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
