@media (max-width: 1279px) {
  .modal {
    width: 100vw;
    &__image {
      display: none;
    }
    &__content {
      width: 60vw;
    }
    &__action {
      position: relative;
      border-radius: 16px;
    }

    &__close {
      border: 1px solid #ebebeb;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &__title {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .modal {
    &__image {
      display: none;
    }

    &__action {
      position: relative;
      width: 100%;
      border-radius: 16px;
      padding: 60px 24px;
    }

    &__close {
      border: 1px solid #ebebeb;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &__content {
      display: block;
      margin: 0;
      width: 100vw;
      padding: 162px 8px;
      border: 16px;
    }

    &__title {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__form {
      margin-top: 48px;
      margin-bottom: 16px;
    }

    &__form button,
    input {
      width: 100%;
    }

    &__send {
      width: 100vw;
    }
  }
}
