@media (max-width: 1279px) {
  .modal {
    width: 100vw;
    &__image {
      display: none;
    }
    &__content {
      width: 60vw;
    }
    &__action {
      border-radius: 16px;
    }
  }
}

@media (max-width: 767px) {
  .modal {
    &__action {
      border-radius: 16px;
      padding: 60px 24px;
    }

    &__content {
      display: block;
      margin: 0;
      width: 100vw;
      padding: 162px 8px;
      border: 16px;
    }

    &__image {
      display: none;
    }

    &__title {
      width: 311px;
      height: auto;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      font-weight: bold;
    }

    &__offer {
      width: 311px;
      font-size: 16px;
      line-height: 24px;
    }

    &__form {
      margin-top: 48px;
      margin-bottom: 16px;
    }

    &__form button,
    input {
      width: 100%;
    }

    &__send {
      width: 100vw;
    }
  }
}
